.header {
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 6.5vw;
    background-color: #8C715C;
}

.imgLogo {
    height: 90%;
    padding-top: 0.25%;
    padding-bottom: 0.1%;
    display: flex;
    margin-left: 9.9%;
}
