.header {
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 7vw;
    background-color: #d9e1e4;
}

.imgLogo {
    height: 95%;
    padding-top: 0.25%;
    padding-bottom: 0.1%;
    display: flex;
    justify-content: center;
}
