.menuBox {
    position: relative;
    z-index: 4;
    height: 1.4vw;
    width: 51.9%;
    margin-left: 33.2%;
    margin-top: -3.7%;
}

.menuGrid {
    display: grid;
    grid-template-columns: repeat(5, 17.3%) 4%;
    gap: 6.5%;
    height: 100%;
    text-align: center;
    font-size: 1.18vw;
    align-items: center;
    color: #FFFFFF;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.iconShare {
    width: 100%;
}

.socialIcons {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    margin-top: 0%;
    width: 14%;
    height: 160%;
    scale: 0;
    margin-left: -5.4%;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 12px;
    transition: 1s;
}

.iconShare:hover .socialIcons {
    scale: 1;
    transition: .4s ease-in-out;
    transition-delay: calc(0.05s);
}

p {
    margin-top: 22%;
}

.iconShare:hover {
    color: #111111;
}

a {
    color: aliceblue;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: black;
}
