.mainScreen {
    width: 100%;
    height: 840px;
    z-index: 0;
}

.background {
    position: fixed;
    width: max-content;
    height: 118%;
    max-height: max-content;
    filter: blur(3px);
}

.church, .eparchy, .ugcc {
    color: wheat;
    position: fixed;
    text-shadow: 3px 3px 4px #775413;
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
    text-transform: uppercase;
    position: relative;
    justify-content: center;
    text-align: center;
}

.middleText {
    position: relative;
    top: 25%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 50px;
    height: 20.5vw;
}

.church {
    font-size: 6.5vw;
}

.eparchy {
    top: 2vw;
    font-size: 2vw;
}

.ugcc {
    top: 2vw;
    font-size: 2vw;
}
